body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #615e5e;
  color: #c1e6cb;
nav {
  background-color: #111;
  padding: 15px 15px;
  text-align: center;
  max-width: 1700px;
  margin: auto;
}

.order-form input {
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #e1ebe6;
  color: #3a7e6d;
}

.order-form button {
  background-color: #4ea87b;
  color: #4bb885;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-form button:hover {
  background-color: #459f85;
  border-radius: 10px;
  font-size: 74px;
  padding: 20px;
}

.footer {
  background-color: #aeb2b0;
  text-align: center;
  padding: 20px 20px;
  color: #474444;
  margin-top: 40px;
  font-size: 15px;
}
.footer p {
  margin: 5px 0;
  text-align: center;
}

.footer .social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #42917d;
  font-weight: bold;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: #dbd6d6;
}
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #6ac572;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ffffff;
}

.header {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to bottom, #9c9a9a, hsl(0, 1%, 60%));
}

.header h1 {
  font-size: 58px;
  color: #e6e6ea;

}

.header p {
  font-size: 48px;
  margin: 15px 0;
  color: #f8f8fd;
 font-weight: bold; 

}

.header img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 1;
}


.product {
  text-align: center;
  padding: 30px 10px;
  font-weight: bold;
}

.product h2 {
  color:white;
  font-size: 22px;

}

.product img {
  width: 500px;
  height: 500px;
  margin: 50px 0;
  isplay: flex;
  justify-content: center;
  gap: 30px; /* espace horizontal entre les images */
  flex-wrap: wrap; /* pour que ça passe sur mobile */
  padding: 20px;
  border-radius: 30px;
  color: white;
transition: transform 0.5s ease;
transform: scale(1.05) translateY(-5px); /* Zoom léger + mouvement vers le haut */
}

}
.product h2 {
  color: rgb(255, 255, 255);
  
}


.product .btn {
  background-color: #ecf0ed;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}

.product .btn:hover {
  background-color: white;
  font-weight: bold;
}

.about {
  background-color: #fcfcfc;
  padding: 40px 20px;
  text-align: center;
}

.about h2 {
  color: #30694c;
 font-weight: bold;
}

.about p {
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
font-weight: bold;
color: #202121;
}

.order-form {
  padding: 40px 20px;
  text-align: center;
}

.order-form h2 {
  color: #78d99a;
}

.order-form form {
  display: flex;
  flex-direction: column;
  gallery {
  display: flex;
  justify-content: center;
  gap: 30px; /* espace horizontal entre les images */
  flex-wrap: wrap; /* pour que ça passe sur mobile */
  padding: 20px;
}

header .logo img {
    height: 122px;
    width: 210px;
}
.image-animée {
  width: 300px;
  transition: transform 0.5s ease;
}

.image-animée:hover {
  transform: scale(1.05) translateY(-5px); /* Zoom léger + mouvement vers le haut */
}
